@media (min-width: 300px) {
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

    .logo{
      width: 216px;
      height: 224px;
      left: 50px;
      top: 400px;
      position:absolute;
    }
    h1{
    font-family: roboto;
    color: #F5EBDC;
    margin: 0;
    font-size: 0px;
    padding-left: 10px;
      }
      .login{
      font-family: Oxygen;
      color: #EBF7FD;
      width: 60px;
      height: 25px;
      background: #12B0AF;
      border-radius: 25px;
      border: 1px solid #12B0AF;
      }
      .google{
      font-family: Oxygen;
      color: #EBF7FD;
      width: 150px;
      height: 25px;
      background: #12B0AF;
      border-radius: 25px;
      border: 1px solid #12B0AF;
      }
      h2{
      font-family: Oxygen;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.7);
      }
      .email{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid white;
      border-radius: 10px;

      }
      .pass{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid white;
      border-radius: 10px;
      };